<header>
    <div class="titular">
        <h1> TNMS-Noticias</h1>
        <p> Informate dia a dia con los mejores profecioneles y lo ultimo en noticias de tu interes</p>
    </div>
    
    <div>
        <ul class="menu ">
        <div class="container">
                <div class="row">
                <article class= "col"> <li><a>Home</a></li></article>
                <article class="col"> <li><a>Último Momento</a></li></article>
                <article class="col"> <li><a>Política</a></li></article>
                <article class="col"> <li><a>Economía </a></article>
                <article class="col"> <li><a>Deportes </a></article>
                <article class="col"> <li><a>El Clima </a></article>
                </div>
        </div>
        </ul>      
    </div>
</header> 