<meta charset="UTF-8">
<link rel="stylesheet" href="../css/home.css ">

<header>
    <div class="titular">
        <h1> TNMS-Noticias</h1>
        <p> Informate dia a dia con los mejores profecioneles y lo ultimo en noticias de tu interes</p>
    </div>
    
    <div class="barramenu">
        <ul class="menu ">
        <div class="container">
                <div class="row">
                <article class="col"> <li><a href="">HOME</a></li></article>
                <article class="col"> <li><a href="">ULTIMO MOMENTO</a></li></article>
                <article class="col"> <li><a href="">POLITICA</a></li></article>
                <article class="col"> <li><a href="">ECONOMIA </a></article>
                <article class="col"> <li><a href="">DEPORTES </a></article>
                <article class="col"> <li><a href="">EL CLIMA </a></article>

                </div>
        </div>
        </ul>      
    </div>
</header> 