<meta charset="UTF-8">
<link rel="stylesheet" href="../css/header.css ">

<header>
    <input type="checkbox" id="btn-menu">
    <label for="btn-menu"><img src="../imagenes/menu.png" alt=""> </label>

    <nav class="mymenu">
        <ul>
            <li><a href="/routes/index.js">HOME</a></li>
            <li><a href=""></a>ULTIMO MOMENTO</li>
            <li><a href=""></a>POLITICA</li>
            <li><a href=""></a>ECONOMIA</li>
            <li><a href=""></a>DEPORTES</li>
            <li><a href=""></a>EL CLIMA</li>
        </ul>
    </nav>
</header> 