<section>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">  TNMS-Noticias     </button>
      <button type="button" class="btn btn-secondary">HOME</button>
      <button type="button" class="btn btn-secondary">CLIMA</button>
      <button type="button" class="btn btn-secondary">FAMOSOS</button>
      <button type="button" class="btn btn-secondary">POLITICA</button>
      <button type="button" class="btn btn-secondary">EL MUNDO</button>
    </div>
  </section>  