<!DOCTYPE html>
<html>
  <head>
    <title>TNMS-Noticias</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../css/home.css ">
    <link rel="stylesheet" href="../css/articles.css ">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Fugaz+One?preview.text=TNMS-Noticias&preview.text_type=custom&sidebar.open=true&selection.family=Fugaz+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik&displany=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fugaz+One&displany=swap">

    <meta name="viewport" content="whidth=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    </head>
  <body class="container">
    
    <header class="df">
      <%- include('./partials/header.ejs') %>
    </header>
   
    
    <div class="df">
      <div class="row">
        <div class="col-sm-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="../imagenes/1images.png" alt="First slide" width="400px" height="400px">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../imagenes/2images.png" alt="Second slide" width="400px" height="400px">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../imagenes/3images.jpg" alt="Third slide" width="400px" height="400px">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
      </div>
    </div>

    <div class="seleccion">
        <section>
          <article class="art1">
            <img src="../imagenes/4images.jpg" alt="">
            <h2>titulo noticia 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias numquam assumenda ipsum beatae pariatur doloribus nam. Deleniti deserunt, perspiciatis dolor veritatis, modi beatae necessitatibus odit eaque ut quidem quae aspernatur.</p>
          </article>

          <article class="art2">
            <img src="../imagenes/1images.png" alt="">
            <h2>titulo noticia 2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, esse? Eum consequuntur, ut inventore, sit pariatur quibusdam non laudantium sequi sed corporis deserunt expedita quos! Tempora perferendis nihil cum perspiciatis!</p>
          </article>

          <article class="art3">
            <img src="../imagenes/2images.png" alt="">
            <h2>titulo noticia 3</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt voluptatum delectus sit odit neque architecto, aliquam necessitatibus iusto nemo, vel amet exercitationem, blanditiis ad aspernatur nihil. Debitis, cupiditate. Modi, dolorum!</p>
          </article>

        </section> 
    </div>

</div>
    

    <div class="df" style="display:inline-block">
      <img style="margin:1px 4px 0;height:48px;width:48px" alt="Despejado, con intervalos nubosos" src="//ssl.gstatic.com/onebox/weather/48/sunny_s_cloudy.png" data-atf="1">
    </div>

    
    
    <footer class="df">
      <div class="footer">
        <%- include('./partials/footer.ejs') %>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 
  </body>
  
</html>
