<!DOCTYPE html>
<html>
  <head>
    <title>TNMS-Noticias</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> TNMS-Noticias</h1>
    <p> Informate dia a dia con los mejores profecioneles y lo ultimo en noticias de tu interes</p>
    <div>
     
    <ul class="menu ">
    <li><a>Home</a></li>
    <li><a>Último Momento</a></li>
    <li><a>Política</a></li>
    <li><a>Economía </a>
    <li><a>Deportes </a>
    <li><a>El Clima </a>
    </div>


    <div style="display:inline-block">
      <img style="margin:1px 4px 0;height:48px;width:48px" alt="Despejado, con intervalos nubosos" src="//ssl.gstatic.com/onebox/weather/48/sunny_s_cloudy.png" data-atf="1">
    </div>
    
  </body>
  <footer>  
    <div>
      
    </div>
  </footer>
</html>
