<!DOCTYPE html>
<html>
  <head>
    <title>TNMS-Noticias</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Fugaz+One?preview.text=TNMS-Noticias&preview.text_type=custom&sidebar.open=true&selection.family=Fugaz+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik&displany=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fugaz+One&displany=swap">

    <meta name="viewport" content="whidth=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1> TNMS-Noticias</h1>
    <p> Informate dia a dia con los mejores profecioneles y lo ultimo en noticias de tu interes</p>
    <div>
     
    <ul class="menu ">
      <section>
          <article class= "home"> <li><a>Home</a></li></article>
          <article class="ultimomomento"> <li><a>Último Momento</a></li></article>
          <article class="politica"> <li><a>Política</a></li></article>
          <article class="economia"> <li><a>Economía </a></article>
          <article class="deporte"> <li><a>Deportes </a></article>
          <article class="clima"> <li><a>El Clima </a></article>
      </section>
    </div>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, dignissimos, reiciendis repellat molestias labore distinctio sint quod ipsum quae deserunt hic alias ratione explicabo temporibus molestiae quam eius cumque? Vel.</h2>
    <h3>lorem 200</h3>
    
    <div style="display:inline-block">
      <img style="margin:1px 4px 0;height:48px;width:48px" alt="Despejado, con intervalos nubosos" src="//ssl.gstatic.com/onebox/weather/48/sunny_s_cloudy.png" data-atf="1">
    </div>

    <header class= "home">home</header>
    <section>
      <div class= "carousel">carousel</div>
      <div class= "porfecha">noticias ordenadas por fecha</div>
      <div class= "porranking">noticias con mas raiting</div>
    </section>  
    
    <footer></footer>
  </body>
  
</html>
