<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> TNMS-Noticias</h1>
    <p> Informate dia a dia con los mejores profecioneles y lo ultimo en noticias de tu interes</p>
  </body>
  <footer>  
    <div>
      
    </div>
  </footer>
</html>
