<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
</head>
<body>
    <form action="" method="POST">
        
        <p>
            <label for="id">Nombre: </label>
            <input type="text" id="id" name="nombre">
        </p>
        <p>
            <label for="id">Apellido: </label>
            <input type="text" id="id" name="apellido">
        </p>
        <p>
            <label for="id">Email: </label>
            <input type="email" id="id" name="Email">
        </p>
        <p>
            <label for="id">Contraseña: </label>
            <input type="password" id="id" name="contraseña">
        </p>
        <p>
            <input type="submit" value="Registrarme">
            <a href="OLVIDE MI CONTRASEÑA"></a>
        </p>
    </form>
</body>
</html>